@model Exchange_App.DAL.Entities.Currency
@{
    ViewData["Title"] = "ViewCurrency";
}

    <div class="currency_container">
        <div class="control-label" align="center">
            <h1><b>@Model.CurrencyName</b></h1>
        </div>

        <div class="currency_info">
            <p>
                <span>Purchase price</span>
                <span>@Model.PurchasePrice</span>
            </p>
            <p>
                <span>Selling price</span>
                <span>@Model.SellingPrice</span>
            </p>
        </div>


        <div class="tools">
            <div class="btn-group">
                <form asp-action="EditCurrency" asp-route-id="@Model.Id" method="get" class="btn-group">
                    <button type="submit" class="btn btn-toolbar btn-primary">
                        Edit
                    </button>
                </form>

                <form asp-action="DeleteCurrency" asp-route-id="@Model.Id" method="post" class="btn-group">
                    <button type="submit" class="btn btn-toolbar btn-danger">
                        Delete
                    </button>
                </form>
            </div>
        </div>

    </div>